

Por favor ingrese los datos :

Nombre de la Encuesta <input type="text" [(ngModel)]="nombreEncuesta"><br>
id del Encuestador <input type="number" [(ngModel)]="id"><br>
Lugar <input type="text" [(ngModel)]="lugar"><br>
Fecha  <input type="text" [(ngModel)]="fecha"><br>
Hora   <input type="number" [(ngModel)]="hora"><br> 
Minutos  <input type="number" [(ngModel)]="Minutos"><br>
Persona Encuestada<input type="text" [(ngModel)]="nombreE"><br> 
Cedula de la persona Encuestada  <input type="number" [(ngModel)]="CedulaE"><br>
Foto <input type="text" [(ngModel)]="foto"><br> 

        <button ng-click="redirect()">Enviar Datos</button>


